.btn {
	--size-err: 20px;
	position: relative;
	border: 1px solid transparent;
	padding: var(--sm) var(--md);
	cursor: pointer;
	min-width: 125px;
	min-height: 32px;
	border-radius: var(--md);
	display: grid;
	place-items: center;
	color: var(--t-main);
}

.btn__err {
	padding-right: calc(var(--size-err) + var(--md));
}

.btn:disabled {
	cursor: initial;
	background-color: transparent;
	color: gray;
	border: 1px solid gray;
}

.primary {
	background-color: var(--pri);
}

.secondary {
	background-color: var(--sec);
}

@media (prefers-color-scheme: light) {
	.primary {
		background-color: var(--l-pri);
	}

	.secondary {
		background-color: var(--l-sec);
	}
}
