.banner {
  display: grid;
  gap: var(--md);
  grid-template-columns: 1fr auto;

  .description {
    display: grid;
    align-content: center;
    gap: var(--sm);

    p {
      max-width: 340px;
    }
  }

  .photo {
    width: 256px;
    height: 256px;
    border-radius: 50%;
  }
}

@media (max-width: 444px) {
  .banner {
    grid-template-columns: 1fr;
  }
}
